.statusOpen {
    font-weight: 500;
    color: white;
    background-color: green;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 2em;
    margin-bottom: 2em;
}

.statusClosed {
    font-weight: 500;
    color: white;
    background-color: rgb(165, 24, 24);
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

